*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  --color-font--:rgb(118, 183, 226);
  --color--bg--:rgba(0, 0, 9, 0.3);
}

/****** background  *********/
.overcarsclouds{
   background-image: url('../public/img/overclouds.jpg');  
}
.clearsky{
  background-image: url('../public/img/clearsky.jpg');  
}
.fewclouds{
  background-image: url('../public/img/fewclouds.jpg');  
}
.brokenclouds{
  background-image: url('../public/img/broken-clouds.jpg');  
}
.showerrain{
  background-image: url('../public/img/showrain.jpg');  
}
.rain{
  background-image: url('../public/img/rain.jpg');  
}
.thunderstorm{
  background-image: url('../public/img/catatumbo.jpg');  
}
.snow{
  background-image: url('../public/img/snow.jpg');  
}
.scatterdclouds{
  background-image: url('../public/img/scatteredcloud.jpg');  
}
.default{
  background-image:url('../public/img/fondocarga.jpg');
}
/****** Load *********/
.load{
 height: 300px;
 width: 300px;
 border: 5px dashed rgb(12, 3, 3);
 border-radius: 100%;
 border-top: #000000;
 animation: load 20s linear infinite;
 position: relative;
 background-color: #fc1212;

 


}

.loading{
  height: 100vh;
  width: 100%;
  background-image: url(./assets/img/fondoclima.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes load{
  from {
  transform: rotate(0deg);
  }
  to{
  transform: rotate(360deg);
  }
}
/****** App  *********/
.App{
    width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;  
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}
/****** Container Search  *********/
.search{
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.search input{
  width: 400px;
  height: 50px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  border: none;
  outline: none;
  text-align: center;
}

.btn{
  padding: 10px 15px;
  border-radius: 15px;
  border-style: none;
}
.search button{
  padding: 10px 15px;
  font-size:  25px;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
  cursor: pointer;
  transition: 0.3s;
  height: 100%;
}

.search button:hover{
  background-color: blue;
  transition: 0.3s;
  font-size: 30px;
}
/****** Card  *********/
.card{
    width: 800px;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 5px 5px 40px 5px white;
    background-color: var(--color--bg--);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 30px;
}

.card__body{
  width:600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.body__img{
  width: 40%;
  height: 300px;
}
.card__img{
  width: auto;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img img{
  width: 300px;
}
.card__grados{
  height: 29.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card__info{
  width: 60%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  gap: 15px; 
}
.card__info ul li{
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  color: white
}
.card__info span{
  font-weight: bold;
  color:var(--color-font--);
  font-size: 20px;
}

.card__btn{
  border-radius:10px;
  padding: 7px 15px;
  background-color: var(--color-font--);
  color: white;
  font-size: 17px;
  cursor: pointer;
}
h2, h1{
  color: white
}
/***media **/
@media (max-width: 700px) {

  .card{
    width: 300px;
    height: 500px;
}

  .card__body{
    width:300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .body__img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 100px;
  }
  .card__img{
    width: 300px; 
  }

  .card__img img{
    width: 300px;
  }

  .card__grados{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .card__info{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
   
  }

  .card__img img{
    width: 150px;
  }

  .card__info span{
    font-size: 20px;
  }
  
  .card__btn{
    font-size: 17px;
  }
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }

  .card__info span{
    font-size: 16px;
  }

  .card__info ul li{
    font-size: 14px;
  }

  .card__grados{
    margin-top: 20px;
    
  }

  .card__grados h2{
    font-size: 20px;
  }

  .card__btn{
    font-size: 16px;
  }
  .search{
    width: auto;
    height: 50px;
    bottom: 20px;
    right: 50px;
  }
  .search input{
    width: 200px;
    height: 50px;
  }
  .btn{
    padding: 10px 15px;
    border-radius: 15px;
    border-style: none;
  }
   
 } 
